pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}

code.hljs {
  padding: 3px 5px;
}

.hljs {
  color: #a5a2a2 !important;
  background: #0d0d0d !important;
}

.hljs::-moz-selection,
.hljs ::-moz-selection {
  background-color: #4a4543 !important;
  color: #a5a2a2 !important;
}

.hljs::selection,
.hljs ::selection {
  background-color: #4a4543 !important;
  color: #a5a2a2 !important;
}

.hljs-comment {
  color: #5c5855 !important;
}

.hljs-tag {
  color: #807d7c !important;
}

.hljs-subst,
.hljs-punctuation,
.hljs-operator {
  color: #a5a2a2 !important;
}

.hljs-operator {
  opacity: 0.7;
}

.hljs-bullet,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-tag,
.hljs-name,
.hljs-deletion {
  color: #db2d20 !important;
}

.hljs-symbol,
.hljs-number,
.hljs-link,
.hljs-attr,
.hljs-variable.constant_,
.hljs-literal {
  color: #e8bbd0 !important;
}

.hljs-title,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: #fded02 !important;
}

.hljs-strong {
  font-weight: bold;
  color: #fded02 !important;
}

.hljs-code,
.hljs-addition,
.hljs-title.class_.inherited__,
.hljs-string {
  color: #01a252 !important;
}

.hljs-built_in,
.hljs-doctag,
.hljs-quote,
.hljs-keyword.hljs-atrule,
.hljs-regexp {
  color: #b5e4f4 !important;
}

.hljs-function .hljs-title,
.hljs-attribute,
.ruby .hljs-property,
.hljs-title.function_,
.hljs-section {
  color: #01a0e4 !important;
}

.hljs-type,
.hljs-template-tag,
.diff .hljs-meta,
.hljs-keyword {
  color: #a16a94 !important;
}

.hljs-emphasis {
  color: #a16a94 !important;
  font-style: italic;
}

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
  color: #cdab53 !important;
}

.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
  font-weight: bold;
}

/*
 * Code highlighting provided by highlight.js
 * Library URL: https://highlightjs.org/
 * Version: 11.10.0
 * Licensed under the BSD License.
 * Copyright (c) 2006-2023, Ivan Sagalaev and other contributors.
 */
