.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  pointer-events: none;
  padding: 6px 12px;
  margin-top: 0.3rem;
  background-color: #383b46;
  border-radius: 25px;
}
.dot {
  background-color: #9292a0;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  margin: 0 3px;
  -webkit-animation: 1.4s ease-in-out infinite bounce;
  animation: 1.4s ease-in-out infinite bounce;
}
.loading-screen,
.loading-screen .circle {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.dot:nth-child(2) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
@-webkit-keyframes bounce {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes bounce {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.loading-screen {
  width: 100%;
  height: 100%;
  background-color: #212129;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  z-index: 999999;
}
.fade-in,
.loading-screen.fade-out {
  opacity: 0;
}
.loading-screen .circle {
  border-radius: 50%;
  background: rgba(85, 108, 48, 0.02);
}
.loading-screen .circle:first-of-type {
  width: 200px;
  height: 180px;
  -webkit-animation: 1s linear infinite rt;
  animation: 1s linear infinite rt;
  -webkit-box-shadow: 0 0 1px 0 #556c30, inset 0 0 10px 0 #556c30;
  box-shadow: 0 0 1px 0 #556c30, inset 0 0 10px 0 #556c30;
}
.loading-screen .circle:nth-of-type(2) {
  width: 180px;
  height: 200px;
  -webkit-animation: 2s linear infinite rt;
  animation: 2s linear infinite rt;
  -webkit-box-shadow: 0 0 1px 0 #556c30, inset 0 0 10px 0 #556c30;
  box-shadow: 0 0 1px 0 #556c30, inset 0 0 10px 0 #556c30;
}
.loading-screen .circle:nth-of-type(3) {
  width: 210px;
  height: 190px;
  -webkit-animation: 3s linear infinite rt;
  animation: 3s linear infinite rt;
  -webkit-box-shadow: 0 0 1px 0 #556c30, inset 0 0 10px 0 #556c30;
  box-shadow: 0 0 1px 0 #556c30, inset 0 0 10px 0 #556c30;
}
.loading-screen .circle:nth-of-type(4) {
  width: 190px;
  height: 210px;
  -webkit-animation: 4s linear infinite rt;
  animation: 4s linear infinite rt;
  -webkit-box-shadow: 0 0 1px 0 #556c30, inset 0 0 10px 0 #556c30;
  box-shadow: 0 0 1px 0 #556c30, inset 0 0 10px 0 #556c30;
}
#wait-text {
  font-family: Output, sans-serif;
  font-size: 0.95em;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #556b2f;
  -webkit-animation: 1s ease-in-out infinite fade;
  animation: 1s ease-in-out infinite fade;
}
@-webkit-keyframes fade {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}
@keyframes fade {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes rt {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rt {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#loadMoreLoading {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
.fade-in {
  -webkit-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.fade-in.visible {
  opacity: 1;
}
.skeleton {
  opacity: 0.7;
  -webkit-animation: 1s linear infinite alternate skeleton-loading;
  animation: 1s linear infinite alternate skeleton-loading;
}
@-webkit-keyframes skeleton-loading {
  0% {
    background-color: #a3b7c1;
  }
  100% {
    background-color: #eff3f4;
  }
}
@keyframes skeleton-loading {
  0% {
    background-color: #a3b7c1;
  }
  100% {
    background-color: #eff3f4;
  }
}

.fa-circle.fa-beat,
.fa-circle.fa-fade {
  color: #556c30 !important;
}

@-webkit-keyframes pulse-animation {
  0% {
    background-color: #25252e;
  }
  50% {
    background-color: #383b46;
  }
  100% {
    background-color: #25252e;
  }
}

@keyframes pulse-animation {
  0% {
    background-color: #25252e;
  }
  50% {
    background-color: #383b46;
  }
  100% {
    background-color: #25252e;
  }
}

.pulse {
  -webkit-transition: background-color 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out;
  -webkit-animation: pulse-animation 1.5s infinite;
  animation: pulse-animation 1.5s infinite;
}
